@{
    ViewData["Title"] = "Home Page";
}

<section class="slide-show">
    <section class="slide-show">
        <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <!--Slide 1-->-
                <div class="carousel-item active" id="slide-1">
                    <div class="container">
                        <div class="row" style="position: relative;">
                            <div class="col-xl-5 col-lg-7 col-md-8 carousel-slide">
                                <div class="slide-text">
                                    <h6>Summer Collection</h6>
                                    <h2>Faltol - Winter Collections 2030</h2>
                                    <p>
                                        A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                        commitment to exceptional quality.
                                    </p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="social-items">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Slide 2-->
                <div class="carousel-item" id="slide-2">
                    <div class="container">
                        <div class="row" style="position: relative;">
                            <div class="col-xl-5 col-lg-7 col-md-8 carousel-slide">
                                <div class="slide-text">
                                    <h6>Summer Collection</h6>
                                    <h2>Fall - Winter Collections 2030</h2>
                                    <p>
                                        A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                        commitment to exceptional quality.
                                    </p>
                                    <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                    <div class="social-items">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-pinterest"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#mycarousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span></a>
                <a class="carousel-control-next" href="#mycarousel" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a>
            </div>
        </div>
    </section>
</section>

<section class="banner sqad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner_item">
                    <div class="banner_item_pic">
                        <img src="/img/banner-1.jpg" />
                    </div>
                    <div class="banner_item_text">
                        <h2>Clothing Collections 2030</h2>
                        <a class="banner-shop" href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 banner1">
                <div class="banner_item banner_item-middle">
                    <div class="banner_item_pic">
                        <img src="/img/banner-2.jpg" />
                    </div>
                    <div class="banner_item_text">
                        <h2>Accessories</h2>
                        <a class="banner-shop" href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 banner2">
                <div class="banner_item banner_item-bottom">
                    <div class="banner_item_pic">
                        <img src="img/banner-3.jpg" />
                    </div>
                    <div class="banner_item_text">
                        <h2>Shoes Spring <br> 2030</h2>
                        <a class="banner-shop" href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="categories-sqad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sale1">
                <div class="categories-text">
                    <h2>
                        Converse <br>
                        <span>Shoe Collection</span> <br>
                        Palladium
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 sale2">
                <div class="hot-deal">
                    <img src="img/product-sale.png" />
                </div>
                <div class="hot-deal-sticker">
                    <span>Get</span>
                    <h5>THIS</h5>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 sale3">
                <span>Deal Only For The Week</span>
                <h2>Multi-pocket Chest Bag Black</h2>
                <h5>
                    Buy 1 Get 1 Bonus <br>
                    <span>Multi-pocket Chest Bag Black</span>
                </h5>
                <a href="#" class="sale-btn">Shop now</a>
            </div>
        </div>
    </div>
</section>
